<% layout("/layouts/boilerplate") %>
<body>
    <h4>All Available Vehicles</h4>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <%   for(let listing of allListings){  %>
        <a href="/listings/<%= listing._id %>" class="listing-link">
    <div class="card col" >
        <img src="<%= listing.image %>" 
        class="card-img-top" alt="Vehicle_image" 
        style="height: 20rem;">
        <div class="card-img-overlay">  </div>
        <div class="card-body">
          <p class="card-text"> <b> <%= listing.title %> </b> <br>
            &#8377; <%= listing.price.toLocaleString("en-IN") %> / day</p>
        </div>
      </div>
      </a>
      <%   }  %>
    </div>
    <!-- <form method="GET" action="/listings/new">
        <button>Add new vehicle</button>
    </form>
     <ul>
        //     <%= %> is an ejs template 
       // <%= %> is used to output the value of JavaScript expressions to the HTML. 

        <%   for(let listing of allListings){  %>
               <li><a href="/listings/<%= listing._id %>"> <%= listing.title %> </a></li>     // href -> show route its a Get req from /listings/:id  (We can view specific data by shpw Route)        
        <%   }  %>
        </ul>  -->
</body>

